.li1{
    color: aqua;
    
}
.li1{
    font-size: 50px;
}


.li2{
    color: blue;
}
.p2{
    color: aquamarine;
}.a1{
    color: darkgreen;
    
}
.a1{
    font-size: 40px;
}



